footer.footer {
  background-color: var(--background-tertiary-color);
  height: 348px;
}

.footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer article header img {
  display: block;
  width: 162px;
  height: 40px;
  margin: 32px auto 0;
}

.footer p {
  color: #F5F5F5;
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--text-weight);
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  text-align: center;
  width: 312px;
}


.footer .footer-content {
  margin-top: 16px;
}

.footer .footer-footer {
  margin-top: 32px;
}

.footer .logo-redes {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}


.footer .logo-redes img {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  footer.footer {
    height: 300px;
  }

  .footer p {
    font-size: 20px;
    line-height: 32px;
  }

  .footer .footer-content {
    width: 591px;
  }
}

@media screen and (min-width: 1440px) {
  footer.footer {
    height: 232px;
  }

  .footer .footer-container {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 444px;
  }

  .footer article header img {
    display: inline;
    margin-bottom: 16px;
  }

  .footer .footer-content {
    display: inline;
    gap: 8px;

    text-align: start;
    width: 591px;
  }
}