.hero-img {
  height: 400px;
  width: 100%;

  background-position: center;
  background: url(../img/hero-mobile.jpg) no-repeat center center/cover;
  background-size: cover;
}

.hero.hero-blog .hero-img-pacotes {
  height: 460px;
  width: 100%;

  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero-blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero.hero-blog .hero-blog-content {

  width: 86%;
  max-width: 579px;
  height: 296px;
  margin: 16px auto 0;
}

.footer-hero {
  height: 400px;
  width: 100%;

  background-position: center;
  background: url(../img/hero-footer-mobile.png) no-repeat center center/cover;
  background-size: cover;

}

.footer-hero.footer-hero-payments {
  background-image: url(../img/footer-img-payments-mobile.png);
}

.hero h2 {

  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;

  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;

  }


  .hero.hero-blog .hero-img-pacotes {
    height: 620px;
    width: 100%;
    padding-top: 159px;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/hero-blog-tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero.hero-blog .hero-blog-content {

    width: 86%;
    max-width: 579px;
    height: 303px;
    margin: 0 auto;
  }

  .footer-hero {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-footer-tablet.png) no-repeat;
    background-size: cover;

  }

  .footer-hero.footer-hero-payments {
    background-image: url(../img/footer-img-payments-tablet.png);
    background-position: center;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;

  }

  .footer-hero {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-footer-desktop.png) no-repeat;
    background-size: cover;

  }

  .footer-hero.footer-hero-payments {
    background-image: url(../img/footer-img-payments-desktop.png);
  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }

}

@media screen and (min-width: 1920px) {
  .hero-img {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;

  }

  .hero h2 {
    padding: 88px 160px;
    font-size: 32px;
  }

}