.hero-img {
  height: 400px;
  width: 100%;

  background-position: center;
  background: url(../img/hero-mobile.jpg) no-repeat center center/cover;
  background-size: cover;
}

.footer-hero {
  height: 400px;
  width: 100%;

  background-position: center;
  background: url(../img/hero-footer-mobile.png) no-repeat center center/cover;
  background-size: cover;

}

.hero h2 {

  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;

  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;

  }

  .footer-hero {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-footer-tablet.png) no-repeat;
    background-size: cover;

  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;

  }

  .footer-hero {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-footer-desktop.png) no-repeat;
    background-size: cover;

  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }

}

@media screen and (min-width: 1920px) {
  .hero-img {
    height: 620px;
    width: 100%;

    background-position: center;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;

  }

  .hero h2 {
    padding: 88px 160px;
    font-size: 32px;
  }

}