.ofertas-da-semana{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ofertas-da-semana div{
  display: flex;
  color: var(--text-secundary-color);
  width: 312px;
  height: 288px;
  

  border-radius: 16px;

  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.ofertas-da-semana div h3{
  margin-bottom: 24px;
  font-size: 32px;
}

.ofertas-da-semana div p{
  font-size: 20px;
}

.ofertas-da-semana div a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 280px;
  height: 64px;

  text-decoration: none;
  color: var(--text-secundary-color);

  font-size: 20px;
  border-radius: 8px;
  background-color: var(--primary-color);
}


.ofertas-da-semana div h2 {
  margin: 8px;
  font-size: 40px;
}



div .titulo-oferta{
  width: 154px;
  height: 90px;
  margin-top: 24px;
  margin-bottom: 0;
}

.oferta-japao{
  background: url(../img/card-promo-japao.png) no-repeat center;
  background-size: cover;
}