/* .ofertas-da-semana{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ofertas-da-semana div{
  display: flex;
  color: var(--text-secundary-color);
  width: 312px;
  height: 288px;
  

  border-radius: 16px;

  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.ofertas-da-semana div h3{
  margin-bottom: 24px;
  font-size: 32px;
}

.ofertas-da-semana div p{
  font-size: 20px;
}

.ofertas-da-semana div a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 280px;
  height: 64px;

  text-decoration: none;
  color: var(--text-secundary-color);

  font-size: 20px;
  border-radius: 8px;
  background-color: var(--primary-color);
}


.ofertas-da-semana div h2 {
  margin: 8px;
  font-size: 40px;
}



div .titulo-oferta{
  width: 154px;
  height: 90px;
  margin-top: 24px;
  margin-bottom: 0;
}

.oferta-japao{
  background: url(../img/card-promo-japao.png) no-repeat center;
  background-size: cover;
} */

.offers {
  margin-bottom: 88px;
}

.offer-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  background-color: black;

  color: var(--text-secundary-color);

  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;

  border-radius: 16px;

  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;

  padding: 0;
  margin-bottom: 24px;
  position: static;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);

  margin: 8px 0 0;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  font-weight: var(--title-weight);

  margin-top: 24px;
}

.card.japao {
  background: url(../img/cardPromocao/card-japao-mobile-promo.png) no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background: url(../img/cardPromocao/card-san-andreas-mobile-promo.png) no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url(../img/cardPromocao/card-paraiba-mobile-promo.png) no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url(../img/cardPromocao/card-manaus-mobile-promo.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offer-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 984px) {
  .offer-cards {
    width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .offer-cards {
    width: 1024px;
    margin: 0 auto;
  }

  .card {
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;

  }

  .card header span {
    font-size: 40px;
  }

  .card.japao {
    background: url(../img/cardPromocao/card-japao-desktop-promo.png) no-repeat;
    background-size: cover;
  }

  .card.san-andreas {
    background: url(../img/cardPromocao/card-san-andreas-desktop-promo.png) no-repeat;
    background-size: cover;
  }

  .card.paraiba {
    background: url(../img/cardPromocao/card-paraiba-desktop-promo.png) no-repeat;
    background-size: cover;
  }

  .card.manaus {
    background: url(../img/cardPromocao/card-manaus-desktop-promo.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1308px) {
  .offer-cards {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offer-cards {
    width: 1250px;
    margin: 0 auto;
  }
}