.payments .img-content {
  height: 460px;
  margin-top: 24px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.payments .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.payments .bag {
  background-image: url(../img/pagamentos/bagagem-mobile.png);
}

.payments .passport {
  background-image: url(../img/pagamentos/passaportes-mobile.png);
}

.payments .people {
  background-image: url(../img/pagamentos/pessoas-mobile.png);
}

.payments .big-image {
  grid-column: span 2;
}

@media screen and (min-width:768px) {
  .payments .bag {
    background-image: url(../img/pagamentos/bagagem-tablet.png);
  }

  .payments .passport {
    background-image: url(../img/pagamentos/passaportes-tablet.png);
  }

  .payments .people {
    background-image: url(../img/pagamentos/pessoas-tablet.png);
  }
}

@media screen and (min-width:1024px) {
  .payments .bag {
    background-image: url(../img/pagamentos/bagagem-desktop.png);
  }

  .payments .passport {
    background-image: url(../img/pagamentos/passaportes-desktop.png);
  }

  .payments .people {
    background-image: url(../img/pagamentos/pessoas-desktop.png);
  }
}