.popular-destinations .section-title h2 {
  display: block;
  font-size: 32px;
  width: 200px;
  margin: 0 auto;
}

.item {
  display: block;
  width: 312px;
  height: 754px;
  margin: 0 auto 40px;
}

.item .img-item {
  display: block;
  width: 312px;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-bottom: 24px;
}

.item .img-tokyo {
  background-image: url(../img/destinos-populares/Tokyo-mobile.jpg);

}

.item header h4 {
  margin: 0;
}


.item footer a {
  width: 312px;
  height: 64px;

  margin-top: 24px;
  text-align: center;
}

.item .img-osaka {
  background-image: url(../img/destinos-populares/Osaka-mobile.jpg);
}

@media screen and (min-width: 768px) {
  .popular-destinations .section-title h2 {
    display: block;
    font-size: 32px;
    width: auto;
    margin: 0 auto;
  }

  .item {
    width: 648px;
    height: 718px;
    margin-bottom: 40px;
  }

  .item .img-item {
    width: 648px;
    height: 452px;
  }

  .item .img-tokyo {
    background-image: url(../img/destinos-populares/Tokyo-desktop.jpg);
  }

  .item footer a {
    width: 280px;
    height: 64px;

    margin-top: 24px;
    text-align: center;
  }

  .item .img-osaka {
    background-image: url(../img/destinos-populares/Osaka-desktop.jpg);
  }
}



@media screen and (min-width: 1440px) {
  .destination-items {
    display: flex;
    justify-content: center;

    margin-bottom: 104px;
    margin-top: 64px;
    gap: 24px;
  }

  .item {
    width: 588px;
    height: 750px;
    margin: 0px;
  }

  .item .img-item {
    width: 588px;
    height: 452px;
  }
}