@import url(./global.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./offers.css);
@import url(./category-search.css);
@import url(./popular-detinations.css);
@import url(./payments.css);
@import url(./testimonials.css);
@import url(./footer.css);
@import url(./pacotes/hero.css);