.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonials-container article header p {
  font-size: 16px;
  line-height: 28px;
}

.testimonials-container article footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.testimonials-container article footer img {
  width: 86px;
  height: 86px;
}

.testimonials-container footer .profile-content h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
  margin: 0 0 8px;

}

.testimonials-container footer .profile-content .rating {
  line-height: 32px;

}

.testimonials-container footer .profile-content .rating .star {
  font-size: 32px;
  color: var(--secundary-color);
}


@media screen and (min-width: 1440px) {
  .testimonials-container {
    flex-direction: row;
  }
}